<!DOCTYPE html>
<html lang="en">
  <%- include('./header.ejs') %>
  <%- include('./navbar.ejs') %>
  <title>ACCESSIFIED - STUDENTS</title>
<body>


<div>
    Accessified is a platform for assessing and evaluating real-world and real-time coding skills. </br>
    Accessified aims to screen, train, certify and hire talents faster.
    This web app was developed by a team of 5 software developers which are named in the footer with a link to the bio.</br>
    The goal of the team is to create an app that would be further modified and developed to the standard where decagon would </br>
    not need to outsource foreign api for conducting their assesments.

</div>

<%- include('./footer.ejs') %>
</body>
</html>