<script>
let count = 1;
let countExam = 1;
let addTestcase = document.querySelector('.addTestcaseBtn');
let test = document.querySelector('.test');

let countExamBtn = document.querySelector('.addQuestionBtn');
let question = document.querySelector('.questionNode');
let setAlgorithmBtn = document.querySelector('.setAlgorithmBtn');
let setExamBtn = document.querySelector('.setExamBtn');
let markExamBtn = document.querySelector('.markExamBtn');
let viewResultBtn = document.querySelector('.viewResultBtn');
let setAlgorithmPage = document.querySelector('.setAlgorithmPage');
let setExamPage = document.querySelector('.setExamPage');
let markExamPage = document.querySelector('.markExamPage');
let viewResultPage = document.querySelector('.viewResultPage');



addTestcase.addEventListener('click', (e)=>{
    let block_to_insert = document.createElement( 'div' );
    e.preventDefault();
    ++count;
    block_to_insert.innerHTML = `<label for="testcase${count}" class="form-label"></label>
    <div class="">
        <input type="text" class="form-control" id="testCase" placeholder="Test Case ${count}"
            name="testcase${count}">
    </div>
    <label for="result${count}" class="form-label"></label>
    <div class="">
        <input type="text" class="form-control" id="resultOne" placeholder="Result${count}"
            name="result${count}">
    </div>`;
    test.appendChild(block_to_insert);
});

countExamBtn.addEventListener('click', (f)=> {
        let block = document.createElement( 'div' );
        f.preventDefault();
        ++countExam;
        block.innerHTML = `<label for="question${countExam}" class="form-label"></label>
        <div class="">
            <input type="text" class="form-control" id="question${countExam}" placeholder="Question ${countExam}"
                name="question${countExam}">
        </div>`
        question.appendChild(block);
    })

setAlgorithmBtn.addEventListener("click", (e)=>{
    e.preventDefault();
    setExamPage.classList.add('seen');
    markExamPage.classList.add('seen');
    setAlgorithmPage.classList.remove('seen');
    viewResultPage.classList.add('seen')
});
setExamBtn.addEventListener("click", (e)=>{
    e.preventDefault();
    markExamPage.classList.add('seen');
    setAlgorithmPage.classList.add('seen');
    setExamPage.classList.remove('seen');
    viewResultPage.classList.add('seen')
});
markExamBtn.addEventListener("click", (e)=>{
    e.preventDefault();
    setAlgorithmPage.classList.add('seen');
    setExamPage.classList.add('seen');
    markExamPage.classList.remove('seen');
    viewResultPage.classList.add('seen')
})

viewResultBtn.addEventListener("click", (e)=>{
    e.preventDefault();
    setAlgorithmPage.classList.add('seen');
    setExamPage.classList.add('seen');
    markExamPage.classList.add('seen');
    viewResultPage.classList.remove('seen')
})

</script>
