
<!DOCTYPE html>
<html lang="en">
  <%- include('./header.ejs') %>
  <%- include('./navbar.ejs') %>
  <title>ACCESSIFIED - STUDENTS</title>
<body>

<div>Examiner Story
    <h3>1. Create an Account on Accessified Platform.</h3>
    <h3>2. Have a database/ record of examinations</h3>
    <h3>3. Have two examination options.</h3>
        <p>i. An IDE Exams - this integrates an IDE for questions that requires students to write a function or a program and this checks the  result of the function against the examiners test cases and model answers. And on submission of the exams by students, it's create a database entries of the student result with an algorithm that scores the students with a function of how many test cases pass.</p>
        <p>ii. A Form that supplies question and takes answers into a database to be marked by the examiner.</p>
   <h3> 4. An examiner dashboard that displays the answer of students and with the ability for the examiner to mark the answers provided by the student.</h3>
    <h3>5. Examiner will have a section that displays student performance.</h3></div>


    <%- include('./footer.ejs') %>
</body>
</html>