<link rel="stylesheet" href="/stylesheets/styles.css" />
<footer style="margin-top: 50px;">
      <div class="bottom">
          <span class="credit">Created By Group 2</a> | </span>
          <span class="copyright"></span><span> 2022 All rights reserved.</span>
      </div>
</footer>
    <script src="/javascript/index.js"></script>
     

