<!DOCTYPE html>
<html lang="en">
<%- include('./header.ejs') %>
<%- include('./navbar.ejs') %>

<title>ACCESSIFIED</title>
<body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h3>ACCESSIFIED<br /></h3>
          <h4>
            Accessified is a platform for assessing and evaluating<br />real-world
            and real-time coding skills.
          </h4>
          <h4>
            Accessified aims to screen, train, certify and hire talents faster.
          </h4>
          <form class="form_ container" method="get" action="/users/login" enctype="application/x-www-form-urlencoded"></form>
          <button type="button">Learn More</button>
        </form>
        </div>
        <div class="col2">
          <img
            src="https://schoolville.com/sitefiles/Updates/2264820/exam.jpg"
            alt=""
            class="control"
          />
          <div class="color-box">Bug</div>
        </div>
      </div>
    </div>
    Togglemenu Java 
      <%- include('./footer.ejs') %>
       
   
  </body>
</html>
