<link rel="stylesheet" href="/stylesheets/menubar.css" />
<div class="container">
      <nav>
        <div class="logo">Accessi<span class="logocolor">Fied</span></div>
        <ul>
          <li><a href="/home" class="active">Home</a></li>
          <li><a href="/examiner">Examiner</a></li>
          <li><a href="/student">Student</a></li>
          <li><a href="/about">About</a></li>
         
        </ul>
      </nav>
</div>