<!DOCTYPE html>
<html lang="en">
  <%- include('./header.ejs') %>
  <%- include('./navbar.ejs') %>
  <title>ACCESSIFIED - STUDENTS</title>
<body>
    <div>
        <p>1. Student should be able to register on accessified.</p>
        <p>2. Student should be able to take an exams.</p>
        <p>3. Students should be able to see a live display of the result of the exams taken on the IDE.</p>
        <p>4. Students should be able to see their score, grades and performance from their dashboard</p>
        <p>5. Students are able to get a reward certificate at the instance for a perfect score on IDE questions.</p>
        <p>6. Student can generate certificate for scored exams from their dashboard</p>

    </div>





 <%- include('./footer.ejs') %>
</body>
</html>